/.project
/.pydevproject
/*.pyc
/__init__.pyc
/makeOcr.pyc
/normalizeImage.pyc
/normalizeText.pyc
/wordsCorrection.pyc
/__init__.pyc
/__init__.pyc
/composeArticle.pyc
/dicXmlTool.pyc
/handleStat.pyc
/makeBalise.pyc
/MetaLex.cnf

