psutil==5.4.3
Babel==2.5.1
beautifulsoup4==4.6.0
bs4==0.0.1
configparser==3.5.0
Cython==0.27.2
docutils==0.14
html5lib==0.999999999
idna==2.6
imagesize==0.7.1
isort==4.2.15
Jinja2==2.9.6
lxml==4.1.0
MarkupSafe==1.0
Pillow==4.3.0
Pygments==2.2.0
pylint==1.7.4
requests==2.18.4
singledispatch==3.4.0.3
six==1.11.0
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
termcolor==1.1.0
tesserocr==2.2.2
typing==3.6.2
urllib3==1.22
webencodings==0.5.1
wrapt==1.10.11