psutil==5.4.3
beautifulsoup4==4.6.0
bs4==0.0.1
Cython==0.27.2
docutils==0.14
html5lib==0.999999999
imagesize==0.7.1
lxml==4.1.0
MarkupSafe==1.0
Pillow==9.0.0
Pygments==2.2.0
pylint==1.7.4
requests==2.18.4
six==1.11.0
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
termcolor==1.1.0
tesserocr==2.2.2
urllib3==1.22
webencodings==0.5.1
wrapt==1.10.11
utilspie
scipy
msgpack-numpy==0.4.1
numpy==1.13.3
pandas==0.21.0
pdfminer==20140328
pdfserenitynow==0.6.7
Pygments==2.2.0
pyparsing==2.2.0
PyPDF2==1.26.0
python-crfsuite==0.9.5
regex==2017.4.5
subprocess32==3.2.7
bs4==0.0.1
cytoolz==0.8.2
docutils==0.14
matplotlib==2.1.0
