***************** metalex project configuration *****************

\Project folder: metalex_p_tesserocr | /media/elvis/All_Data_Exchange_System1/LiClipse_Workspace/dev/MetaLex 
\Project name  : p_tesserocr 
\Creation date : 04-05-2018 à 00:34:16 
\Author        : author     
\Contributors  : contributors 
\Comment       : comment    
\Folder log    : /logs | /media/elvis/All_Data_Exchange_System1/LiClipse_Workspace/dev/MetaLex/metalex_p_tesserocr/logs 
\Folder temp   : /dicTemp | /media/elvis/All_Data_Exchange_System1/LiClipse_Workspace/dev/MetaLex/metalex_p_tesserocr/dicTemp 
\Folder images : /dicImages | /media/elvis/All_Data_Exchange_System1/LiClipse_Workspace/dev/MetaLex/metalex_p_tesserocr/dicImages 

***************************************************************** 

